/*Testimonials*/

/*Slider*/

.slider_inner{
    margin: 0 auto;
    width: 1366px;
    height: 500px;
    background-color: #10c9c3;
}

.slider {
    position: relative;
    overflow: hidden;
    top: 25%;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .5);
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
  text-align: center;
}

.title1{
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;

    max-width: 75%;
    margin: 0 auto;
}

.title2{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 36px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;

    text-transform: uppercase;
}

.title1, .title2{
    padding-top: 3%;
}

/*Clients*/

.clients_inner{
    width: 100%;
    height: 200px;
    background-color: #ffffff;
}

.clients_content{
    height: 100px;
    position: relative;
    top: 35%;
}

.iclient{
    width: 19.85%;
    height: 90px;
    text-align: center;
    float: left;
}



/*Project*/

.project_inner{
    width: 1366px;
    height: 751px;
    background-color: #f5f5f5;
}

.project_content{
    max-width: 675px;
    margin: 0 auto;
    height: 100%;

    padding: 6.5% 0;
}

.ptitle{
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 15px;
    color: #1d1d1d;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;

}

.ptext{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #787878;
    font-family: "Nunito Sans";
    font-weight: 400;
    text-align: center;

    padding: 0 10%;
}

.input2{
    margin: 0 0 0 4.5%;
}

.input1, .input2{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #787878;
    font-family: "Nunito Sans";
    font-weight: 400;

    margin-top: 20px;
    width: 320px;
    height: 48px;
    background-color: #ffffff;

    box-sizing: border-box;
    padding: 3%;

    border: 0;
    outline: 0;
}

.input3{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #787878;
    font-family: "Nunito Sans";
    font-weight: 400;

    width: 670px;
    height: 48px;
    background-color: #ffffff;

    box-sizing: border-box;
    padding: 3%;

    border: 0;
    outline: 0;
    margin-top: 30px;
}

.input4{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #787878;
    font-family: "Nunito Sans";
    font-weight: 400;

    width: 670px;
    height: 170px;
    background-color: #ffffff;

    box-sizing: border-box;
    padding: 3%;

    border: 0;
    outline: 0;
    margin-top: 30px;
}

.but{
    width: 180px;
    height: 54px;
    background-color: #10c9c3;

    margin: 30px 36.7%;
    border: 0;
    padding: 0;
    outline: 0;
    cursor: pointer;
}

.but:active{
    background-color: #31b6b2;
}

.butt{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 10px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

/*Footer*/

.footer_inner{
    width: 1366px;
    height: 284px;
    background-color: #141414;
}

.footer_content{
    margin: 0 auto;

    max-height: 150px;
    width: 85%;

    position: relative;
    top: 99px;

}

.rights1{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 42px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 500;

    width: 200px;
    margin: 0;
}

.rights2{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #bcbcbc;
    font-family: "Nunito Sans";
    font-weight: 400;

    width: 250px;

    margin: 1% 0;
}

.contacts{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #bcbcbc;
    font-family: "Nunito Sans";
    font-weight: 400;

    width: 200px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    padding: 0 41%;
}

#mail{
    color: #bcbcbc;
    text-decoration: none;
}

.links{
    width: 450px;

    height: 100px;

    position: absolute;
    left: 66.5%;
    top: 0;
}

.links1, .links2, .links3{

    margin: 0;
    width: 120px;
    float: left;
}

.links3{
    position: relative;
    left: 60px;

}

.link{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #bcbcbc;
    font-family: "Nunito Sans";
    font-weight: 400;

    text-decoration: none;

}
