/*Numbers*/

.numbers_inner{
    width: 1366px;
    height: 240px;
    background-color: #10c9c3;
}

.numbers_content{
    position: relative;
    top: 40%;
    height: 30%;
    width: 90%;
/*    background-color: black;*/
    left: 8%;
}

.port, .clock, .star, .like{
    width: 300px;
    display: inline-block;
}
.tex{
    width: 200px;
    position: absolute;
    padding: 0%;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 500;
    text-transform: uppercase;

    position: relative;
    left: 75px;
    top: -67px;
}

.num{
    font-size: 18px;
}


/*Work*/

.work_inner{
    height: 700px;
    width: 100%;
}

.block1{
    width: 100%;
    height: 300px;
}

.block2{
    width: 100%;
    height: 300px;
}

.p1, .p3, .p4, .p6, .p8{
    height: 300px;
    width: 341px;
    float: left;
    background-color: #838383;
}

.p2, .p4, .p5, .p7{
    height: 300px;
    width: 342px;
    float: left;
    background-color: #dddddd;
}

.p6{
    background-color: #141414;
}

/*image*/

.look{
    margin: 43%;
}

.look:hover{
    display: none;
}

/*Load more*/

.more{
    font-size: 12px;
    letter-spacing: 1px;
    color: #8e8e8e;
    font-family: "Montserrat";
    font-weight: 500;

    width: 100%;
    height: 100px;
    background-color: #f5f5f5;

    border: 0;
    padding: 0;
    outline: 0;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.more:active{
    background-color: #dddddd;
}

/*Video*/

.process_inner{
/*    padding: 10px;*/

    height: 930px;
    width: 100%;
    background-color: #ffffff;
}

.t1{
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 45px;
    color: #191919;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 25px;
    margin: 0;
}

.t2{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #787878;
    font-family: "Nunito Sans";
    font-weight: 400;
    text-align: center;

    margin: 0 auto;
    max-width: 37%;
}

.vid{
    width: 1170px;
    height: 571px;
    background-color: #e9e9e9;

    margin: 0 auto;

    position: relative;
    top: 5%;
}

/*Services*/

.services_inner{
    width: 100%;
    height: 535px;
    background-color: #f5f5f5;


}

.services_content{
    position: relative;
    top: 16%;
}

.bl1{
    height: 175px;
    padding: 0 5.5%;
}

.bl2{
    height: 175px;
    padding: 1% 5.5%;
}

.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8{
    width: 300px;
    height: 150px;
    float: left;
    text-align: center;
}

h2{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #191919;
    font-family: "Montserrat";
    font-weight: 500;

    text-transform: uppercase;
}

.s_text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #787878;
    font-family: "Nunito Sans";
    font-weight: 400;
    text-align: center;

    max-width: 80%;
    margin: 0 auto;
}

.img_serv{
    padding: 5%;
}

/*Slider*/

.slider_inner{
    margin: 0 auto;
    width: 1366px;
    height: 500px;
    background-color: #10c9c3;
}

.slider{
    margin: 0 auto;
    max-width: 50%;
    height: 50%;
    background-color: azure;
}

/*Clients*/

.clients_inner{
    width: 100%;
    height: 200px;
    background-color: #ffffff;

/*    border: 1px solid black;*/
}

.clients_content{
    height: 100px;
    position: relative;
    top: 35%;

/*    margin: 0 auto;*/

/*    border: 1px solid black;*/

}

.iclient{
    width: 19.85%;
    height: 90px;
/*    border: 1px solid black;*/
    text-align: center;
    float: left;
/*

    position: relative;
    left: 13%;
*/
}

/*Footer*/

.footer_inner{
    width: 1366px;
    height: 284px;
    background-color: #141414;
}

.footer_content{
/*    padding: 6% 0;*/

    margin: 0 auto;

    max-height: 150px;
    width: 85%;

/*    border: 1px solid red;*/
    position: relative;
/*    top: 35%;*/
    top: 99px;

}

.rights1{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 42px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 500;

/*    border: 1px solid aqua;*/

    width: 200px;
    margin: 0;
}

.rights2{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #bcbcbc;
    font-family: "Nunito Sans";
    font-weight: 400;

/*    border: 1px solid aqua;*/

    width: 250px;

    margin: 1% 0;
}

.contacts{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #bcbcbc;
    font-family: "Nunito Sans";
    font-weight: 400;

/*    border: 1px solid aqua;*/

    width: 200px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    padding: 0 41%;
}

.links{
    width: 450px;

    height: 100px;

    position: absolute;
    left: 66.5%;
    top: 0;

/*    border: 1px solid aqua;*/

/*    text-decoration: none;*/
}

.links1, .links2, .links3{

    margin: 0;
    width: 120px;
    float: left;

/*    border: 1px solid aqua;*/

}

.links3{
    position: relative;
    left: 60px;

}

.link{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #bcbcbc;
    font-family: "Nunito Sans";
    font-weight: 400;


}

a:link{
    text-decoration: none;
}
